@charset "UTF-8";
@import "public";
a{
  @include a;
}
span{
  @include span;
}
li{
  @include li;
}
body {
  font-family: $font-family-base;
  background:$background;
}
#zj_1{
  .zj_title{
    background: #fff;
    width:100%;
    li{
      padding:0px 15px;
      @include size('',50px,50px);
      border-bottom:1px solid #eee;
      &:first-child{
        a{
          display:inline-block;
          text-align: center;
          span{
              color:#333;
           font-size:14px;
          }
        }
      }
      &:nth-child(2){
        @include size('',60px,60px);
        span{
          @include size(30px,30px,30px);
          border-radius: 30px;
          background: #db0000;
          text-align: center;
          color: #fff;
          margin-right: 12px;
        }
      }
    }
  }
  .zj_xq1{
   margin-top:20px;
   background: #fff;
    width:100%;
    li{
      @include size('',50px,50px);
      padding:0px 15px;
      position:relative;
      border-bottom:1px solid #eee;
      span{
        &:first-child{
          width:23%;
          color:rgb(68,68,68);
          font-size:14px;
          font-weight:400;
          font-family: "PingFang SC";
        }
      }
      span.hm{
        text-align:left;
        color:#666;
        font-size:13px;
      }
      a{
        position:absolute;
        right:15px;
        top:50%;
        margin-top:-13px;
        display:inline-block;
        text-align: center;
        @include size(50px,24px,24px);
        color:rgb(233,19,19);
        border:1px solid rgb(233,19,19);
        border-radius: 5px;
        span{
          color:rgb(233,19,19) !important;
        }

      }
    }
  }
}